img {
  height: 330px;
  width: 315px;
}
body {
  background-color: purple;align-content: 
}
.letras {
  color: white;
}
table {
  whidth: 100%;
  border-collapse;
  font-family: arial, sans-serif;
  background-collor: white;
}
