img {
  height: 250px;
  width: 240px;
}
body {
  background-color: purple; align-content: 
display: flex;
  flex-direction: column;
  align-items: center
  min-height: 100vh;
}
.letras {
  color: white;
}
table {
  whidth: 100%;
  border-collapse;
  font-family: arial, sans-serif;
  background-collor: white;
}
