img {
  height: 330px;
  width: 175px;
}
body {
  background-color: purple;align-content: 
}
.informações { display: flex; gap: 12px; }
.informações > div {
  flex: 1;
  flex-direction: column;
  background-color: white; color: white;
  padding: 6px; text-align: center;
  border-radius: 6px;
}
.cartão { flex: 2; background: black; }
.letras {
  color: white;
}
table {
  whidth: 100%;
  border-collapse;
  font-family: arial, sans-serif;
  background-collor: white;
}
